<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ asset("assets/css/main.css") }}"/>
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" integrity="sha384-VY3F8aCQDLImi4L+tPX4XjtiJwXDwwyXNbkH7SHts0Jlo85t1R15MlXVBKLNx+dj" crossorigin="anonymous">
        <noscript>
            <link rel="stylesheet" href="{{ asset("assets/css/noscript.css") }}"/>
        </noscript>
    </head>
    <body class="is-preload">

    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="{{ path("app_homepage") }}">{{'Accueil' |trans  }}</a></li>
                    <li><a href="{{ path("skillz_page") }}">{{'Compétences' |trans  }}</a></li>
                    <li><a href="{{ path("porfolio_page") }}">{{'Porfolio' |trans  }}</a></li>
                    <li><a href="{{ path("contact_page") }}">{{'Contact' |trans  }}</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path("message_page") }}"><i class="fas fa-cogs fa-2x"></i></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>

    <div class="container">
        {% block body %}{% endblock %}
    </div>


    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; Untitled. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                <li><a href="{{ path('app_login') }}">{{ 'Se connecter' |trans }}.</a></li></li>
                <li><a href="{{ path('app_registration') }}">{{ 'S\'enregistrer' |trans }}.</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_logout') }}">{{ 'Se déconnecter' |trans }}</a></li>
                {% endif %}
                <li><a href="/en">English.</a></li>
                <li><a href="/">Français.</a></li>

            </ul>
        </div>

    </footer>

    <!-- Scripts -->
    {% block javascripts %}
        <script src={{ asset("assets/js/jquery.min.js") }}></script>
        <script src={{ asset("assets/js/jquery.scrollex.min.js") }}></script>
        <script src={{ asset("assets/js/jquery.scrolly.min.js") }}></script>
        <script src={{ asset("assets/js/browser.min.js") }}></script>
        <script src={{ asset("assets/js/breakpoints.min.js") }}></script>
        <script src={{ asset("assets/js/util.js") }}></script>
        <script src={{ asset("assets/js/main.js") }}></script>
    {% endblock %}

    </body>
</html>
