{% extends 'base.html.twig' %}
{% block body %}
    <section id="three" class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Contact</h2>

            <p>{{ 'N\'hésitez pas à me contacter pour toutes les questions relatives à mon profil ou à mes projets.' |trans}} </br>
                {{ 'Je vous répondrais dans les plus bref délais.' |trans }} </p>
            <div class="split style1">
                <section>
                    <form method="post" action="#">
                        <div class="fields">
                            {{ form_start(formContact) }}
                            <div class="field half">
                                {{ form_row(formContact.name) }}
                            </div>
                            <div class="field half">
                                {{ form_row(formContact.email) }}
                            </div>
                            <div class="field">
                                {{ form_row(formContact.content) }}
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" id="contact_button" type="submit">
                                {{'Envoyer' |trans  }}
                            </button>
                            {{ form_end(formContact) }}
                        </div>
                    </form>
                </section>
                <section>
                    <ul class="contact">
                        <li>
                            <h3>Email</h3>
                            <a href="#">p.stclivier@gmail.com</a>
                        </li>
                        <li>
                            <h3>Mobile</h3>
                            <span>0624871641</span>
                        </li>
                        <li>
                            <h3>Social</h3>
                            <ul class="icons">
                                <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </section>
{% endblock %}